WPF/WPFDestokSimple/Code/.vs/*
WPF/WPFDestokSimple/Code/packages/*
WPF/WPFDestokSimple/Code/WPFDesktopSimple/.vs/*
WPF/WPFDestokSimple/Code/WPFDesktopSimple/bin/*
WPF/WPFDestokSimple/Code/WPFDesktopSimple/obj/*
WPF/WPFDestokSimple/Code/WPFDesktopSimpleTests/.vs/*
WPF/WPFDestokSimple/Code/WPFDesktopSimpleTests/bin/*
WPF/WPFDestokSimple/Code/WPFDesktopSimpleTests/obj/*
React/clock-tuto/node_modules/*
React/clock-tuto/build/*
